@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto", serif;
    font-size: 16px;

    background-color: #1a1a1a;
    color: #ffffff;

    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    text-align: center;
}

.container {
    width: min(90%, 90rem);
    margin: 0 auto;
}

/* Header */
.header-site {
    background: radial-gradient(circle, #cc0000 40%, #990000 80%);
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    margin: 0;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu-item {
    display: inline;
}

.menu-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.menu-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.cart-container {
    background: linear-gradient(to bottom, #f09733 30%, #d17a00 100%);
    border-radius: 5px;

    padding: 10px 15px;

    color: white;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}

.cart-link{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Banner */
.banner {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 600px;

    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-text {
    background-color: #1A1A1A;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-title {
    font-size: 32px;
    margin-bottom: 10px;
}

/* News*/
.news {
    background-color: #252525;
    padding: 40px 20px;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.news-title {
    display: block;
    text-align: center;
}

.news-article {
    margin-bottom: 20px;
    padding: 20px;
    width: 50%;

    background-color: #333;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Brands */
.brands {
    padding: 40px 20px;
    text-align: center;
}

.brands-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.brands-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.brands-logo {
    background-color: transparent;
    width: 100px;
    height: auto;
}

/* Footer */
footer {
    background-color: #111;
    padding: 20px;
    margin-top: 20px;
}

/* Product List */
.products {
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.products-title {
    display: block;
    padding: 10px;
}

.products-grid {
    display: grid;
    grid-template-columns: auto 55% repeat(3, auto);
    width: 700px;
}

.products-grid-header {
    font-weight: bold;
    background: #E90B00;
    padding: 10px;
}

.item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-align-left {
    justify-content: start;
}

.quantity {
    height: 30px;
    width: 50px;
    justify-self: center;
    align-self: center;
}

.place-order {
    margin-top: 20px;
}

.btn {
    font-family: "Roboto", serif;
    background-color: #E90B00;
    padding: 10px 30px;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #C00A00;

}

input[type="number"]::-webkit-inner-spin-button {
    height: 20px;
}

.error-message {
    margin-top: 10px;
    font-size: 12px;

}

/* carrito de compras */

.cart {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cart-title {
    padding: 10px;
}

.cart-list {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: grid;
    grid-template-columns: auto auto 55% repeat(3, auto);
    width: 700px;
}

.delete-btn {
    padding: 3px;
    cursor: pointer;
}

.payment-breakdown {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 700px;
}

.subtotal, .tax, .total {
    padding: 5px;
}

.quantity-input {
    height: 30px;
    width: 50px;
    justify-self: center;
    align-self: center;
}

.cart-buttons {
    display: flex;
    gap: 10px;
}

/* confirmacion de la orden */

.confirmation {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}